/* CSS By Jessica Seapno */
/* Color Palette

Cyan: #2AB6DB
Lime Green: #91DB2A
Electric Pink: #BA29DB
Orange: #DB822E
Quiet Purple: #7B4686
Slate Blue-Grey: #3F565C
Cloudy White: #D9D8D7
*/

/* GLOBAL (base) MOBILE FIRST */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    background-color:#3F565C;
    color: #7B4686;
    font-family: 'Courier New', Courier, monospace;
    border: 30px solid transparent;
    background-image: url("images/istockphoto-1472539099-612x612.jpg");
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 18px;
        background-color: #2AB6DB;
        color:  #7B4686;
    }
    
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
        background-color: #91DB2A;
        color: #7B4686;
    }
    
}

header, footer {
    background-color: #7B4686;
    color: #2AB6DB;
    padding: 20px;
    text-align: center;
    border:5px groove #91DB2A;
}

nav {
    background-color: #DB822E;
    padding: 10px;
    text-align: center;
    border-style: groove;
    border-color: #91DB2A;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 20px;
    padding: 3px 20px;
    border: groove;
    border-color:#D9D8D7;
}

nav ul li a {
    background-color: #DB822E;
    color: #3F565C;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #BA29DB;
    text-decoration: underline;
    text-decoration-style: wavy;
    transition: transform 0.3s ease, color 0.3s ease;
}

main {
    padding: 20px;
}

section {
    flex: 1;
    background-image: url("images/bg dim.jpg");
    color:#91DB2A;
    font-size: 25px;
    text-shadow: 25px 0px 15px blue;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 300px;
    max-width: 900px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 40px;
    border-style: groove;
    border-color: #91DB2A;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes slide-and-fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
}

